body {
  background-color: black;
  color: green;
  padding: 5px;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.box {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  width: 100%;
  display: block-inline;
  float: left;
}

@media screen and (max-width: 800px) {
  .box {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  .box {
    width: 33.33%;
  }
}
@media screen and (min-width: 1000px) {
  .box {
    width: 25%;
  }
}
