body {
  background-color: black;
  color: green;
  padding: 5px;
  max-width: 100%;
}
header {
 border-bottom: 1px solid white;
 margin: 0 5px;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.box {
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  width: 100%;
  display: block-inline;
  float: left;
}
@media screen and (max-width: 800px) {
  .box {
    width: calc(50% - 40px);
  }
}
@media screen and (min-width: 800px) {
  .box {
    width: calc(33.33% - 40px);
  }
}
@media screen and (min-width: 1000px) {
  .box {
    width: calc(25% - 40px);
  }
}
